*{
    margin:0px;
    padding:0px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:700px){
    .flex-container-three{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .flex{
        flex-direction: column;
    }
    .flex-container-three{
        flex-direction: column;
    }
    .container-row{
        flex-direction: column;
    }
}
.navlinks ul li{


    display: inline-block;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.cols{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 50px;
    justify-content: center;
    align-items: center;
}
.second-content{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.second-sec{
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    margin: auto;
}
.footer{
    margin:auto;
    padding: 20px 0
    ;
}
.cols li{
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.right-lastcontent{
    margin: auto;
    color:white;
}
.banner{
    text-align: center;
    padding: 50px 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif
}
.right-lastcontent h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.right-lastcontent p{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
}
.last-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    background-color: #1E3932;
}
.last-container img{
    height: 400px;
}
.container{
    background-color: #EF3340;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.row img{
    height:500px;
}
.right{
    margin: auto;
    color: white;
}
.right h2{
font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.right .btn{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 32px;
padding: 5px 17px;
}
.second{
    padding: 40px 0;
}
.second-container{
    background-color: #1E3932;
}

.left-content{
    color:white;
    margin:auto;
}
.flex img{
    height:400px;

}

.btn-lg{
    text-decoration: none;
    color: white;
    font-size: 28px;
    border:1px solid white;
    padding: 5px 17px;
    transition: 0.2s;
    border-radius: 32px;

}
.left-content h1{
font-size: 70px;
line-height: 1.3;
font-family: Arial, Helvetica, sans-serif;

}
.btn:hover{
    background-color: white;
    color: black;
}
.Right-image img{
    height: 400px;
}
.left-text{
    color: white;
    margin: auto;
}
.fourth-sec{
    padding: 40px 0;
}
.left-text p{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;

}
.left-text h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-row{
    background-color: #76232F;
    display:flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.left-image img {
    height:400px;
}
.right-cont{
    margin:auto;
    color:white;
}
.right-cont h1{
    font-size: 70px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.flex-container-three{
    background-color: #B37697;
}
.right-cont p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 1.4;
    margin-top: 25px;
    margin-bottom: 40px;
}
.left-content p{
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 30px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;

}
.right p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;

}
.flex {
    display: flex;

}